<body class="chats">
  <div class="container main-container">
    <div class="col-md-12 text-end">
      <button type="button" class="btn btn-outline-primary" (click)="logOut()">LogOut</button>
    </div>
    <div class="chat-window">
      <h1>Chat</h1>
      <hr>
  
      <div class="app-mensajes" id="app-mensajes" >
        <div *ngFor="let chat of cs.chats" [ngClass]=" {'text-end': cs.usuario.uid == chat.uid} ">
          <span class="badge badge text-bg-danger" >{{ chat.nombre }}</span>
          <p> {{ chat.mensaje }} </p>
  
        </div>
  
      </div>
      <div class="input-group mb-3">
        <input class="form-control input" type="mensaje" name="mensaje" placeholder="Enviar Mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()">

      </div>
  
      
      
    </div>
  
  
  </div>
  
</body>
  

