.estiloFondo{
    width: 100%;
    height: 100%;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper{
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logoInicioBank{
  margin: auto;
  margin-bottom: 10px;
  height: 180px;
  width: 180px;

}

.card{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
}


.cardSesi{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 1rem;
  text-decoration: black;
  box-shadow: 10px 30px 15px  rgba(9, 41, 50, 0.614);
  width: 30%;
  height: 15%;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  margin-left: 20px;
}
.cardCbu{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 1rem;
  text-decoration: black;
  box-shadow: 10px 30px 15px  rgba(9, 41, 50, 0.614);
  width: 30%;
  height: 15%;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  margin-right: 20px;
}

.cardBienvenido{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 1rem;
  text-decoration: black;
  box-shadow: 10px 30px 15px  rgba(9, 41, 50, 0.614);
  margin-left: 20px;
}

.body{
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;

}

.card-pa{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
}

.cardSesi{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
}

.card-bievenida{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
  padding: 15px;
}

.card-SaldoCbus{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
  width: 300px;
  height: 80px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.titulo-letra{
  font-size: 15px;
}

.botonCopiar{
  position: top;
  width: 2px;
  height: 2px;
}



