.estiloFondo{
    width: 100%;
    height: 100%;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapperPerfil{
  display: flex;
  height: 90%;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapperGrafico{
  display: flex;
  height: 100%;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logoInicioBank{
  margin: auto;
  margin-bottom: 10px;
  height: 180px;
  width: 180px;

}

.card{
  transition: all 0.3s ease-in-out;
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
}

.cardCbu{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 1rem;
  text-decoration: black;
  box-shadow: 10px 30px 15px  rgba(9, 41, 50, 0.614);
  width: 30%;
  height: 15%;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  margin-right: 20px;
}

.cardBienvenido{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 1rem;
  text-decoration: black;
  box-shadow: 10px 30px 15px  rgba(9, 41, 50, 0.614);
  margin-left: 20px;
}

.body{
  width: 900px;
  height: 500px;
  max-width: 900px;
  margin-bottom: 0px;
  padding: 20px;
  margin-top: 0px;
}

.card-movimientos{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
}

.card-bievenida{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
  padding: 15px;
  padding-top: 70px;
  height: 450px;
  width: 280px;
  margin: auto;
  margin-top: 100px;
  margin-left: 50px;
}

.card-SaldoCbus{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
  width: 300px;
  height: 80px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.titulo-letra{
  font-size: 15px;
}

.botonCopiar{
  position: top;
  width: 2px;
  height: 2px;
}

/* From uiverse.io by @NabeelAhmadK */
button {
  width: fit-content;
  height: 45px;
  background: #ffffff0d;
  border-radius: 8px;
  border: 2px solid #334b79;
  font-size: 15px;
  font-weight: bold;
  color: #334b79;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
  z-index: 1;
}

button:before {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: -50%;
  background: #334b79;
  transition: all 0.5s ease;
  z-index: -1;
}

button:after {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: 100%;
  background: #334b79;
  transition: all 0.5s ease;
  z-index: -1;
}

button:hover {
  color: white;
  cursor: pointer;
}

button:hover:before {
  top: 0;
  left: 0;
}

button:hover:after {
  top: 0;
  left: 50%;
}

.grafico{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px rgb(9 41 50 / 61%);
  border-radius: 1rem
}

.card-GRAFICO{
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
  border-radius: 1rem;
  width: 800px;
  height: 550px;
  margin: auto;
  text-align: center;
}







