<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: black;">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/perfil-pantalla" href="#">Perfil</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/trans-ferencias"  href="#">Transferencias</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pres-pantalla" href="#">Prestamos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login" href="#">Salir</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="card shadow-2-strong text-black" style="border-radius: 1rem; margin-left: 60px;">
    <div class="card-bievenida text-center">
      <div class="logoInicioBank">
        <img src="https://cdn-icons-png.flaticon.com/512/8176/8176383.png"
        class="img-fluid" alt="Sample image">
      </div>

      <div class="text-center mb-4">
        <h1 class="display-4">Bienvenido</h1>
        <span class="titulo-letra display-4 badge rounded-pill" style="background-color: #4B79A1;">{{ this.dataUser.email }}</span>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="container mt-0 mb-4">
      <div class="row mt-2">
          <div class="col-lg-6">
              <div class="card-SaldoCbus">
                <h5 class="titulo">SALDO DISPONIBLE</h5>
                <span class="titulo-letra display-4 badge rounded-pill" style="background-color: #4B79A1;">${{ this.saldoDis }}</span>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card-SaldoCbus">
                <h5 class="titulo ">
                  CBU
                  <i class="fa-regular fa-copy" (click)="copyMessage()" value="cbu"></i>
                </h5>
                <span class="titulo-letra display-4 badge rounded-pill" style="background-color: #4B79A1;">{{ this.cbu }}</span>
              </div>
          </div>
          <div class="col-lg-8">
            <span>{{this.mensaje}}</span>
          </div>
      </div>
    </div>

    <div class="card shadow-2-strong text-black" style="border-radius: 1rem;">
      <div class="card-pa text-center">
        <div class="mt-2">
          <span class="h3">Ultimos Movimientos</span>
        </div>
            <h5 style="margin-top: 30px;" *ngIf="cualqui.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="cualqui.length > 0" class="table table-striped table-responsive mt-3">
                <thead>
                  <tr>
                    <th>Cbu Destino</th>
                    <th>Monto</th>
                    <th>Motivo</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cualquis of cualqui">
                    <td>{{ cualquis.cbu }}</td>
                    <td>{{ cualquis.monto }}</td>
                    <td>{{ cualquis.motivo }}</td>
                    <td>{{ cualquis.fecha }}</td>
                    <td>{{ cualquis.horario }}</td>
                  </tr>
                </tbody>
              </table>
        <div class="text-center" style="margin-bottom: 10px;">
          <button (click)="enviarPdf()">Descargar PDF</button>
        </div>
      </div>
    </div>
  </div>
</div>


