
<div class="wrapperGrafico">
  <div class="body">
    <div class="card shadow-2-strong text-black" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.349); height: 400px ">
      <div class="card-body text-center" style="align-items: center; justify-content: center; margin:auto; padding-top:50px ">
        <div class="logoInicioBank">
          <img src="https://cdn-icons-png.flaticon.com/512/8176/8176383.png"
          class="img-fluid" alt="Sample image">
        </div>

        <div class="mt-4 mb-4">
          <h6>Le enviamos un correo para verificarlo</h6>
        </div>

        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" routerLink="/login">volver</button>
      </div>
      </div>
    </div>

  </div>

</div>

