.wrapper{
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login{
    color: #ffffff;
    margin-left: 75px;
    margin-bottom: 40px;
}

.btn-group{
    left: 10px;
}
.cuenta{
    color: rgb(0, 0, 0);
}
.contra{
    color: rgb(0, 0, 0);
}

.link{
    color: rgb(67, 64, 224);
}

.link2{
    color:rgb(67, 64, 224) ;
}

.logoInicioBank{
    margin: auto;
    margin-bottom: 30px;
    height: 180px;
    width: 180px;

}

.card{
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.349);
    box-shadow: 10px 40px 15px  rgba(9, 41, 50, 0.614);
}



