<div class="wrapper">
    <div class="body">
      <div class="card shadow-2-strong text-black" style="border-radius: 1rem;">
        <div class="card-body text-center">
          <div class="logoInicioBank">
            <img src="https://cdn-icons-png.flaticon.com/512/8176/8176383.png"
            class="img-fluid" alt="Sample image">
          </div>
          <form (ngSubmit)="login()" [formGroup]="loginUsuario">
            <div class="form-floating  mb-3">
              <input type="email"  formControlName="email" class="form-control" placeholder="name@example.com">
              <label >Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password"  formControlName="password" class="form-control" placeholder="Password">
              <label >Password</label>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" >Ingresar</button>
            </div>
            
            <p class="mt-3 cuenta">No tienes cuenta? <a class="link" routerLink="/registrar-usuario">Registrar</a></p>
            <p class="mt-3 contra">Olvidaste tu contraseña?<a class="link2" routerLink="/recuperar-password">Recuperar contraseña</a></p>
          </form>
        </div>
      </div>
        
    </div>

</div>
