<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: black;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/perfil-pantalla" href="#">Perfil</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="/trans-ferencias"  href="#">Transferencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pres-pantalla" href="#">Prestamos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" href="#">LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="wrapper">
  <div class="body">
    <div class="card shadow-2-strong text-black" style="border-radius: 1rem;">
      <div class="card-body text-center">
        <div class="mb-3">
          <h4>Realizar Transferencia</h4>
        </div>
        <form (ngSubmit)="agregarMovimiento()" [formGroup]="movimientoUsuario">
          <div class="form-floating  mb-3">
            <input type="number"  formControlName="cuil" class="form-control" placeholder="destinatario">
            <label >Ingrese el cuil</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number"  formControlName="monto" class="form-control" placeholder="valor">
            <label >Ingrese el monto</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-control" aria-label="Default select example" formControlName="motivo" placeholder="motivo">
              <option value="Supermercado">Supermercado</option>
              <option value="Servicios">Servicios</option>
              <option value="Indumentaria">Indumentaria</option>
              <option value="Varios">Varios</option>
            </select>
            <label >Ingrese el motivo</label>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" >Aceptar</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
